lanki
World
ALL.chr15.phase1_release_v3.20101123.snps_indels_svs.genotypes.vcf.gz.tbi
Change env.txt
phase1_integrated_calls.20101123.ALL.panel
ref-countries-2020-01m.shp.zip
Seminar.code-workspace
stupid.ipynb
test.java
tf.py
vcf_to_matrix_step_by_step.py